<h1>Check the weather</h1>
<p>Enter your address (with a zip code) for your forecast!</p>

<form action='/weather' method='post' >
  <input type='text' name='street'/>
  <input type='submit' />
</form>